.schedule-edit-background {
  padding: 16px;
  background-color: var(--background-color);
  border-radius: 20px;
}
.schedule-edit-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule-edit-header {
  color: var(--primary-color);
  font-weight: bold;
}

.schedule-img {
  width: 40%;
}

.schedule-picture {
  width: 100%;
  border-radius: 10px;
}

.schedule-form {
  width: 60%;
}

.schedule-edit-content {
  position: relative;
  z-index: 10;
}
