.register-form-container {
  margin: auto;
  width: 50%;
}

.register-container {
  background-color: var(--background-color);
  padding: 16px;
  border-radius: 20px;
}

.register-header {
  text-align: center;
}
