@import "~bootstrap/scss/bootstrap";
:root {
  --primary-color: #336c72;
  --secondary-color: #006d75;
  --background-color: #ddf0ff;
  --text-color: #2c2c2c;
  --white-color: #fff;
}

body {
  font-family: "Roboto";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

.header1 {
  font-size: 24px;
  margin: 24px 0;
}

.header2 {
  font-size: 20px;
  margin: 20px 0;
}

.header3 {
  font-size: 18px;
  margin: 18px 0;
}

.header4 {
  font-size: 16px;
  margin: 16px 0;
}

.subText {
  font-size: 14px;
}
.button {
  background-color: var(--secondary-color) !important;
  color: white !important;
  border-radius: 10px !important;
  font-size: 14px !important;
  cursor: pointer !important;
}

.white-color {
  color: var(--white-color) !important;
}
